body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif !important;
  background-color: #4aaea3;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hoverable:hover {
  cursor: pointer;
}

.label {
  color: #4aaea3;
  font-weight: 900;
}

.login-box {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 6rem 6rem;
  border-radius: 10px;
}

.title {
  padding-bottom: 20px;
}

.title span {
  font-size: 2.5rem;
  font-weight: 900;
  padding: 1rem;
}

.loginInputs {
  padding: 3rem 0 2rem;
}

.loginInputs input {
  padding: 0 5px;
  font-size: 1rem;
  font-weight: 400;
  background: transparent;
  border: none;
  border-bottom: 1px solid;
  margin: 10px 0;
  font-size: 1.2rem;
  outline: none;
  padding-bottom: 4px;
}

.buttons {
  padding: 1rem;
}

.button {
  background-color: #2a639a;
  padding: 10px 20px;
  width: fit-content;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-weight: 900;
  color: #fff;
  font-family: Helvetica;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#loginErrMsg,
#signupErrMsg {
  color: red;
  font-weight: 500;
  margin-top: 16px;
  letter-spacing: 0.8px;
}
