body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif !important;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hoverable:hover {
  cursor: pointer;
}

.header {
  background-color: #4aaea3;
  color: #f7f7f7;
}

.header > div {
  padding: 1.5rem 2rem;
}

.app-name {
  width: 20%;
}

.app-name > span {
  font-weight: 900;
  font-size: 2rem;
}

.window {
  padding: 1rem;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.todo {
  width: 20%;
  height: fit-content;
  background-color: #e4e4e4;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  padding-bottom: 1rem;
  margin: 10px;
}

.todo-title {
  position: relative;
  padding: 1.4rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.todo-title > input {
  font-size: 1.6rem;
  font-weight: 400;
  background: transparent;
  outline: none;
  border: none;
}

.delete {
  position: absolute;
  height: 1.4rem;
  right: 1em;
  top: 1em;
}

.tasks {
  padding: 1rem 1rem 0 1rem;
}

.task {
  position: relative;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 10px 0;
}

.task img {
  height: 1rem;
  position: absolute;
  right: 1rem;
}

.checkbox {
  height: 10px;
  width: 10px;
  border: 2px solid #4aaea3;
  margin-right: 10px;
  border-radius: 50%;
  transform: scale(1.3);
  margin-top: 2px;
}

.check {
  height: 6px;
  width: 6px;
  background: #4aaea3;
  border-radius: 50%;
}

.task-tile {
  font-weight: 400;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  width: 85%;
  padding: 0;
  margin: 0;
}

.add-new-todo-box {
  background-color: #e4e4e4;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
}

.add-new-todo-box > input {
  background-color: #fff;
  padding: 10px;
  border: none;
  outline: none;
  width: 85%;
  font-size: 1rem;
  border-radius: 4px;
}

.add-new-todo-box > div {
  position: relative;
  width: 10%;
  transform: scale(1.2);
  margin-left: 6px;
}

.options {
  width: 80%;
  flex-direction: row-reverse;
}

.logout {
  background-color: #ed553b;
  padding: 10px 20px;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-weight: 900;
}

.search-bar {
  position: relative;
  margin-right: 2rem;
  width: 20%;
  border-bottom: 1px solid #f7f7f7;
}

.search-bar > input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 84%;
  font-size: 1rem;
  padding: 0 10px;
  color: #e4e4e4;
  letter-spacing: 1px;
}

.search-bar > input::placeholder {
  color: #e4e4e4;
}

.search-bar > img {
  position: absolute;
  height: 1.6rem;
  right: 0.4rem;
}

.new-list {
  background-color: #2a639a;
  padding: 10px 20px;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-weight: 900;
  margin-right: 2rem;
}

.popup {
  top: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
}

.msgBox {
  text-align: center;
  background-color: #fff;
  padding: 5rem 10rem;
  border-radius: 10px;
}

.msgBox > span {
  font-size: 2rem;
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.msgBox > input {
  margin-bottom: 1rem;
  font-size: 1rem;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  padding: 2rem 10px 10px 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.msgBox > button {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2a639a;
  outline: none;
}

.cancel {
  background-color: #ed553b !important;
}
