input[type='button'],
input[type='submit'] {
  background-color: #9ab6eb;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0 8px 6px -6px black;
}
input[type='button']:hover,
input[type='submit']:hover {
  opacity: 3;
}

input[type='text'] {
  border: none;
  background-color: #9ab6eb;
}
input[type='text']:focus {
  outline: none;
  box-shadow: inset 0 0 5px white;
}

input[type='checkbox'] {
  width: 45px;
  height: 20px;
  border-radius: 5px;
}

input[type='checkbox'] + label {
  font-size: larger;
  font-style: normal;
}
input[type='checkbox']:checked + label {
  color: rgb(148, 137, 137);
}
