/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 33%;
  left: 33%;
  height: 33%;
  width: 33%;
  background-color: #cfdaee;
  box-shadow: 0 8px 6px -6px black;
}

.stickNote {
  width: 359.03px;
  height: auto;
  padding-bottom: 10px;
  background: #cfdaee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-1deg);
  margin-bottom: 20px;
}

#todoEditIcon {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}
#todoEditIcon:active {
  height: 31px;
  width: 31px;
}

#todoAddIcon {
  height: 40px;
  width: 40px;
}
#todoAddIcon:active {
  height: 41px;
  width: 41px;
}

.hideIt {
  display: none;
}

.popUpButton {
  margin-top: 40px;
  margin-left: 30px;
  background-color: #9ab6eb;
  width: 40%;
}

body {
  background-color: #e3fdf3;
}
#mainBox {
  /* border: solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 5%;
  margin-top: 5%;
  align-content: center;
  height: auto;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.todoPageDiv {
  /* display: none; */
  padding: 10px 10px 10px 10px;
  position: fixed;
  top: 20%;
  left: 20%;
  height: auto;
  width: 60%;
  box-shadow: 0 8px 6px -6px black;
  background-color: #cfdaee;
}
.todoBoxDiv {
  margin-left: 5%;
  margin-right: 5%;
}
.textBoxDiv {
  display: flex;
  justify-content: space-between;
}
#taskBox {
  margin-bottom: 8px;
  width: 88%;
}
#taskAddIcon {
  margin-top: 10px;
  height: 40px;
  width: 40px;
}
#taskAddIcon:active {
  height: 42px;
  width: 42px;
}

.addTodoDiv {
  position: fixed;
  top: 10px;
  right: 10px;
}
input[type='checkbox'] {
  width: 45px;
  height: 20px;
  border-radius: 5px;
}

input[type='checkbox'] + label {
  font-size: large;
  font-style: normal;
}
input[type='checkbox']:checked + label {
  color: rgb(148, 137, 137);
}

.stickyTitle {
  padding: 20px;
}
