/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 33%;
  left: 33%;
  height: 33%;
  width: 33%;
  background-color: #cfdaee;
  box-shadow: 0 8px 6px -6px black;
}

.hideit {
  display: none;
}

.popUpButton {
  margin-top: 40px;
  margin-left: 30px;
  background-color: #9ab6eb;
  width: 40%;
}

body {
  background-color: rgb(205, 241, 194);
}
.button {
  margin-top: 40px;
  width: 100%;
}
.mainBox {
  align-content: center;
  position: fixed;
  top: 33%;
  left: 33%;
  height: 33%;
  width: 33%;
}
