/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 33%;
  left: 33%;
  height: 33%;
  width: 33%;
  background-color: #cfdaee;
  box-shadow: 0 8px 6px -6px black;
}

.stickNote {
  margin: 10px 10px 15px 10px;
  width: 28%;
  height: auto;
  padding-bottom: 10px;
  background: #cfdaee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-1deg);
}
.taskDiv {
  height: 2px;
  padding: 5px;
}
.stickyTitle {
  margin-top: 50px;
  height: 25px;
  text-align: center;
}
.smallTextBoxDiv {
  width: 90%;
  margin-left: 10%;
  margin-right: 10%;
}

#addTaskIcon {
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: 8px;
  right: 8px;
}
.editTodoIcon {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  right: 50px;
}
.deleteTodoIcon {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}
#todoEditIcon:active {
  height: 31px;
  width: 31px;
}

#todoAddIcon {
  height: 40px;
  width: 40px;
}
#todoAddIcon:active {
  height: 41px;
  width: 41px;
}

.hideIt {
  display: none;
}

.popUpButton {
  margin-top: 40px;
  margin-left: 30px;
  background-color: #9ab6eb;
  width: 40%;
}

body {
  background-color: #e3fdf3;
}
#mainBox {
  /* border: solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 5%;
  margin-top: 5%;
  align-content: center;
  height: auto;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.todoPageDiv {
  /* display: none; */
  padding: 10px 10px 10px 10px;
  position: fixed;
  top: 20%;
  left: 20%;
  height: auto;
  width: 60%;
  box-shadow: 0 8px 6px -6px black;
  background-color: #cfdaee;
}
.todoBoxDiv {
  margin-left: 5%;
  margin-right: 5%;
}
.textBoxDiv {
  display: flex;
  justify-content: space-between;
}
#taskBox {
  margin: 10px 7px 0px 7px;
  margin-bottom: 8px;
  width: 88%;
  padding: 15px;
}
.smallTextBox {
  width: 70%;
  padding: 8px;
}
.smallerTextBox {
  width: 60%;
  padding: 9px;
}
#taskAddIcon {
  margin-top: 10px;
  height: 40px;
  width: 40px;
}
#taskAddIcon:active {
  height: 42px;
  width: 42px;
}

.addTodoDiv {
  position: fixed;
  top: 10px;
  right: 10px;
}

.taskDeleteIcon {
  position: absolute;
  right: 7px;
  height: 20px;
  width: 20px;
}
.taskEditIcon {
  position: absolute;
  right: 37px;
  height: 20px;
  width: 20px;
}

.fa-plus-circle {
  color: #9ab6eb;
}
.fa-plus-circle:hover {
  color: #8aabe9;
}
.fa-plus-circle:active {
  color: #6e97e4;
}
.fa-times-circle {
  color: #9ab6eb;
}
.fa-times-circle:hover {
  color: #8aabe9;
}
.fa-times-circle:active {
  color: #6e97e4;
}
.fa-chevron-down {
  color: #9ab6eb;
}
.fa-chevron-down:hover {
  color: #8aabe9;
}
.fa-chevron-down:active {
  color: #6e97e4;
}

#todoName {
  margin: 10px 7px 0px 7px;
  width: 90%;
  padding: 15px;
}
