.todoPageDiv {
  /* display: none; */
  padding: 10px 10px 10px 10px;
  position: fixed;
  top: 20%;
  left: 20%;
  height: auto;
  width: 60%;
  box-shadow: 0 8px 6px -6px black;
  background-color: #cfdaee;
  /* align-content: center */
}
.textBoxDiv {
  margin-left: 10%;
  margin-right: 10%;
}
input[type='text'] {
  padding: 10px;
  width: 100%;
  padding: 15px;
  margin: 10px 7px 0px 7px;
  border: none;
  background-color: #9ab6eb;
}
input[type='text']:focus {
  outline: none;
  box-shadow: inset 0 0 5px white;
}
input[type='button'] {
  background-color: #9ab6eb;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0 8px 6px -6px black;
}
input[type='button']:hover {
  opacity: 3;
}
