.todoPageDiv {
  /* display: none; */
  padding: 10px 10px 10px 10px;
  position: fixed;
  top: 20%;
  left: 20%;
  height: auto;
  width: 60%;
  box-shadow: 0 8px 6px -6px black;
  background-color: #cfdaee;
  /* align-content: center */
}
.textBoxDiv {
  margin-left: 10%;
  margin-right: 10%;
}
