<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="./images/checkListIcon.png" />
    <link rel="stylesheet" href="css/todoStyle.css" />
    <link rel="stylesheet" href="css/formStyle.css" />
  </head>
  <body>
    <div class="todoPageDiv">
      <div class="textBoxDiv">
        <form action="addTask" method="POST">
          <input
            type="text"
            name="task"
            id="task"
            placeholder="type your task and enter"
          />
        </form>

        <div>
          __tasks__
        </div>
        <div>
          <input type="button" value="save" onclick="" />&emsp;
          <input type="button" value="close" onclick="" />
        </div>
      </div>
    </div>
  </body>
</html>
