<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="./images/checkListIcon.png" />
    <link rel="stylesheet" href="css/indexStyle.css" />
    <link rel="stylesheet" href="css/formStyle.css" />
    <script src="scripts/indexScript.js"></script>
  </head>
  <body>
    <div class="todoPageDiv" id="todoBox">
      <div class="todoBoxDiv">
        <div class="textBoxDiv">
          <input
            type="text"
            name="task"
            id="taskBox"
            placeholder="type your task and enter"
          />
          <img
            id="taskAddIcon"
            src="./images/addTaskIcon.png"
            alt="Submit"
            onclick="createTask('taskBox')"
          />
        </div>

        <div>
          __tasks__
        </div>
        <div>
          <input type="button" value="save" onclick="" />&emsp;
          <input type="button" value="close" onclick="hide('todoBox')" />
        </div>
      </div>
    </div>
  </body>
</html>
